<header>
  <app-menu-bar></app-menu-bar>
</header>

<app-menu-title></app-menu-title>

<div class="container_articles">
  <div class="articles_main">
    <app-big-card photoCover="https://www.dwinawan.com/blog/thumb_article41.jpg" cardTitle="Nova versão do Angular" cardDescription="Lorem ipsum dolor sit, amet consectetur adipisicing elit. 
    Adipisci abnam obcaecati modi natus dolorum impedit quia omnis harum perferendis. 
    Dolores id provident, eaque tempora ut ad fugit sequi voluptatem."></app-big-card>
  </div>
  <div class="articles_others">
    <app-small-card cardTitle="Lorem ipsum dolor sit, amet consectetur adipisicing elit. Adipisci ab
    nam obcaecati modi natus" photCover="https://www.dwinawan.com/blog/thumb_article41.jpg"></app-small-card>
    <hr>
    <app-small-card cardTitle="Lorem ipsum dolor sit, amet consectetur adipisicing elit. Adipisci ab
    nam obcaecati modi natus" photCover="https://www.dwinawan.com/blog/thumb_article41.jpg"></app-small-card>
    <hr>
    <app-small-card cardTitle="Lorem ipsum dolor sit, amet consectetur adipisicing elit. Adipisci ab
    nam obcaecati modi natus" photCover="https://www.dwinawan.com/blog/thumb_article41.jpg"></app-small-card>
  </div>
</div>
