.container_articles {
  display: flex;
  flex-direction: row;
}

.articles_main {
  width: 50%;
}

.articles_others {
  width: 50%;
  padding-top: 2rem;
}

.articles_others > hr {
  border: .1rem solid #ffffff80;
  margin-bottom: .7rem;
}
